*{
    color:gray;   
}

input{
    line-height: 2.5;
}

.bg-image{
    height: 100%;
    width:100%;
    min-height: 100%;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(block.jpg);
}

input{
    /*border:none;
    outline:none;*/
    border:2px #efed40 dotted;
    background:transparent;
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
    font-size:16px;
    padding:10px;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

.login{
    margin:auto;
    width:250px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.9);
    padding: 80px 40px;
    margin-top:50px;
    background:linear-gradient(top, #1f2129 0%, #000000 100%);
    background:-webkit-linear-gradient(top, #1f2129 0%, #000000 100%);
    /* background:linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background:-webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%); */
}

.toggle-btn {
    border:none;
    outline:none;
    padding:10px 30px;
    color: #fff;
    font-size:16px;
    font-family:monospace;
    background:#ff267e;
    cursor:pointer;
    border-radius:30px;
}