
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My test page</title>
    </head>
    <body>
        <h1> Client Profile Page </h1>
        <div>
            <form action="/your-name/" method="post">
                {% csrf_token %}
                
               
                
                <label for="name">Full Name: </label><br>
                <input type="text" id="name" name="name" value="{{ name }}" maxlength = "50" required><br>
                
                <label for="address1">Address 1: </label><br>
                <input type="text" id="address1" name="address1" value="{{ address1 }}" maxlength = "100" required><br>
                
                <label for="address2">Address 2: </label><br>
                <input type="text" id="address2" name="address2" value="{{ address2 }}" maxlength = "100"><br>
                
                <label for="city">City: </label><br>
                <input type="text" id="city" name="city" value="{{ city }}" maxlength = "100" required><br>
                
                <input type="submit" value="OK">      


            </form>
        </div>  
    </body>
</html>
